<div class="sidenav" id="#Sidenav">
  <center><img class="logo" src = "./images/rolpin.png"/></center>
  <a href="/">Accueil</a>
  <button class="dropdown-btn">Relevés 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="production">Production</a>
    <a href="defaut">Defauts</a>
  </div>
  <a href="contact">Contact</a>
  <a href="propos">A propos</a>
</div>