<html>
<img src="./images/image_fond.jpg" class="fond">
<head>   
	<meta charset="utf-8">

    <% include partials/head_calendar %> 
    <% include partials/script %>
    
</head>

<body> 
    <% include partials/menu %> 
	<div id='calendar'></div>
</body>
</html>