<!DOCTYPE html>
<html>
    <img src="./images/foret-nuit.jpg" class="fond">
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/test_menu %>  
    <h1 class="index">Créateur du site de supervision M.Cétois</h1>

    <div class="index">
    <p id="demo">Pour me contacter:<br>
        <ul class="text">
            <li> Adresse de l'entreprise : yann.cetois@rolpin.fr</li>
            <li> Adresse personnelle : yanncetois@hotmail.fr</li>
            <li> Numéro personnel: 06.58.06.06.20</li>
          </ul>
  </body>
  <% include partials/script %>
</html>