<!DOCTYPE html>
<html>
    <img src="./images/foret-nuit.jpg" class="fond">
  <head>
    <% include partials/head_defaut %> 
  </head>
  <body>
      <div class=tableur>
      <table id="defaut_table" class="display" style="width:100%">
          <thead>
              <tr>
                  <th>Défaut</th>
                  <th>Présence</th>
                  <th>Dernière présence</th>
                  <th>Nombre par jour</th>
              </tr>
          </thead>
          <tfoot>
              <tr>
                <th>Défaut</th>
                <th>Présence</th>
                <th>Dernière présence</th>
                <th>Nombre par jour</th>
              </tr>
          </tfoot>
      </table>
    </div>
    <% include partials/test_menu %>  
    <div id="example"></div>
  </body>
<% include partials/script_defaut %>
</html>