<!DOCTYPE html>
<html>
    <img src="./images/foret-nuit.jpg" class="fond">
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/test_menu %>  
    <h1 class="index">Bienvenue sur le site dédié à la supervision de la machine d'encollage automatique</h1>

    <div class="index">
    <p id="demo"> Ce site est réalisé dans le cadre d'un contrat professionnel dans l'entreprise NP Rolpin.<br>
    Ce projet a pour but de présenter dans divers graphiques les données de production de la machine comme:
    <ul class="text">
      <li> Les quantités produites à divers temps</li>
      <li> Les défauts sous formes de tableur</li>
      <li> Idées supplémentaires</li>
    </ul>
    Il sera aussi possible d'extraire de la base de données les différentes données que l'utilisateur souhaite dans un format lisible par un logiciel de tableur
  
  <p>L'ensemble de ces données sont presente dans la base de donnée de la machine.</p>

  </body>
  <% include partials/script %>
</html>
