<html>
<img src="./images/image_fond.jpg" class="fond" ;>
<head>   
	<% include partials/head %> 
</head>

<body>
	<% include partials/test_menu %>  
	<div id="container" class="graph1"></div>

	<div class="Nb_plis_heure">
		<img src="./images/veneer.png" class="veneer">
		<p id="plis/heure" class="releves">Plis/heure</p>
	</div>

	<div class="Nb_stack_jour">
		<img src="./images/stack.png" class="stack">
		<p id="stack/jour" class="releves">Stack/quart</p>
	</div>
	<% include partials/script %>
</body>
</html>