<html>
<img src="./images/foret-nuit.jpg" class="fond" ;>
<head>   
	<% include partials/head_prod %> 
</head>

<body>
	<% include partials/test_menu %>  
	<div id="container" class="graph1"></div>

	<div class="Nb_plis_heure">
		<img src="./images/veneer.png" class="veneer">
		<p id="plis/heure" class="releves">Plis/heure</p>
	</div>

	<div class="Nb_plis_min">
		<img src="./images/stack.png" class="stack">
		<p id="plis/min" class="releves">Plis/min</p>
  </div>
  
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="production_equipe">Production par l'équipe</h1>
      <div class="tableur_production_equipe">	
      <table id="production_equipe" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Equipe</th>
              <th>Placages</th>
              <th>Panneaux</th>
              <th>Piles</th>
              <th>Volume</th>
              <th>Rebuts</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Equipe</th>
            <th>Placages</th>
            <th>Panneaux</th>
            <th>Piles</th>
            <th>Volume</th>
            <th>Rebuts</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
    </div>

      <h1 class="temps_prod">Arrêt par équipe</h1>
      <div class="tableur_temps_prod">	
      <table id="temps_prod" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Poste</th>
              <th>Nom</th>
              <th>Fréquence</th>
              <th>Durée</th>
              <th>Heure</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Poste</th>
            <th>Nom</th>
            <th>Fréquence</th>
            <th>Durée</th>
            <th>Heure</th>
          </tr>
      </tfoot>
      </table>
	</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="production_recette">Production par recette</h1>
      <div class="tableur_production_recette">	
      <table id="production_recette" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Recette</th>
              <th>Placages</th>
              <th>Panneaux</th>
              <th>Piles</th>
              <th>Volume</th>
              <th>Rebuts</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Recette</th>
            <th>Placages</th>
            <th>Panneaux</th>
            <th>Piles</th>
            <th>Volume</th>
            <th>Rebuts</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
    </table>
  </div>
  
  <h1 class="temps_recette">Arrêt par recette</h1>
      <div class="tableur_temps_recette">	
      <table id="temps_recette" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Recette</th>
              <th>Nom</th>
              <th>Fréquence</th>
              <th>Durée</th>
              <th>Heure</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Recette</th>
            <th>Nom</th>
            <th>Fréquence</th>
            <th>Durée</th>
            <th>Heure</th>
          </tr>
      </tfoot>
      </table>
	</div>

	<% include partials/script_prod %>
</body>
</html>