<html>
<img src="./images/foret-nuit.jpg" class="fond" ;>
<head>   
	<% include partials/head_prod %> 
</head>

<body>
	<% include partials/test_menu %>  
	<div id="container" class="graph1"></div>

	<div class="Nb_plis_heure">
		<img src="./images/veneer.png" class="veneer">
		<p id="plis/heure" class="releves">Plis/heure</p>
	</div>

	<div class="Nb_stack_jour">
		<img src="./images/stack.png" class="stack">
		<p id="plis/min" class="releves">Plis/min</p>
  </div>
  
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="placage_equipe">Placage produit par l'équipe</h1>
      <div class="tableur_plis_equipe">	
      <table id="plis_equipe" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Equipe</th>
              <th>Nombre de Placage</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Equipe</th>
            <th>Nombre de Placage</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
	</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="placage_recette">Placage produit par recette</h1>
      <div class="tableur_plis_recette">	
      <table id="plis_recette" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Recette</th>
              <th>Nombre de Placage</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Recette</th>
            <th>Nombre de Placage</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
	</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="planche_equipe">Planche produite par l'équipe</h1>
      <div class="tableur_planche_equipe">	
      <table id="planche_equipe" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Equipe</th>
              <th>Nombre de Planche</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Equipe</th>
            <th>Nombre de Planche</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
	</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="planche_recette">Planche produite par recette</h1>
      <div class="tableur_planche_recette">	
      <table id="planche_recette" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Recette</th>
              <th>Nombre de Planche</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Recette</th>
            <th>Nombre de Planche</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
	</div>

<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="pile_equipe">Pile produite par l'équipe</h1>
      <div class="tableur_pile_equipe">	
      <table id="pile_equipe" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Equipe</th>
              <th>Nombre de Pile</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Equipe</th>
            <th>Nombre de Pile</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
  </div>
  
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>

	<h1 class="pile_recette">Pile produite par recette</h1>
      <div class="tableur_pile_recette">	
      <table id="pile_recette" class="display" style="width:100%">
        <thead>
          <tr>
              <th>Recette</th>
              <th>Nombre de Pile</th>
              <th>Début</th>
              <th>Fin</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
            <th>Recette</th>
            <th>Nombre de Pile</th>
            <th>Début</th>
            <th>Fin</th>
          </tr>
      </tfoot>
      </table>
	</div>

	<% include partials/script_prod %>
</body>
</html>