<!DOCTYPE html>
<html>
    <img src="./images/foret-nuit.jpg" class="fond">
  <head>
    <% include partials/head %> 
  </head>
  <body>
    <% include partials/test_menu %>  
    <h1 class="index">Informations relatives à la Supervision</h1>

    <div class="index">
    <p id="demo">
      L'entièreté des codes de l'API ainsi que du site web se trouve dans un répositoire GIT accessible <a href= "https://github.com/Zwall33/rolpin_v2" target="_blank">ici.</a>
      
    </p>

  </body>
  <% include partials/script %>
</html>
