.graph{
  left: 19%;
  top: 25%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  height: 64%;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

.Nb_plis_heure{
  background-color: #545050;
  height: 80px;/* défini la div en hauteur*/
  width: 33%;/* défini la div en largeur*/
  top: 5%;
  left: 19%; 
  position: absolute;
  text-align: center;
  border-radius: 40px;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.Nb_plis_min{
  background-color: #545050;
  height: 80px;/* défini la div en hauteur*/
  width: 33%;/* défini la div en largeur*/
  top: 5%;
  left: 60%;
  position: absolute;
  text-align: center;
  border-radius: 40px;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.stack{
  width: 85px; 
  height: 85px;
  position: absolute;
  left: 2px;
  bottom: 1px;
}

.veneer{
  width: 75px; 
  height: 75px;
  position: absolute;
  left: 15px;
  top: 3px;
}

.releves{
  color: white;
  font-family:"Segoe UI",Arial,sans-serif;
  font-size: 150%;
}

.graph1{
  left: 19%;
  top: 25%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  height: 64%;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.Prod{
  top: 90%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_Prod{
  left: 19%;
  top: 107%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

.temps_prod{
  top: 198%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_temps_prod{
  left: 19%;
  top: 216%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.production_recette{
  top: 198%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_production_recette{
  left: 19%;
  top: 216%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

.temps_recette{
  top: 322%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_temps_recette{
  left: 19%;
  top: 340%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}