.graph{
  left: 19%;
  top: 25%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  height: 64%;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

.Nb_plis_heure{
  background-color: #545050;
  height: 80px;/* défini la div en hauteur*/
  width: 33%;/* défini la div en largeur*/
  top: 10%;
  left: 19%; 
  position: absolute;
  text-align: center;
  border-radius: 40px;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.Nb_stack_jour{
  background-color: #545050;
  height: 80px;/* défini la div en hauteur*/
  width: 33%;/* défini la div en largeur*/
  top: 10%;
  left: 60%;
  position: absolute;
  text-align: center;
  border-radius: 40px;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.stack{
  width: 85px; 
  height: 85px;
  position: absolute;
  left: 2px;
  bottom: 1px;
}

.veneer{
  width: 75px; 
  height: 75px;
  position: absolute;
  left: 15px;
  top: 3px;
}

.releves{
  color: white;
  font-family:"Segoe UI",Arial,sans-serif;
  font-size: 150%;
}

.graph1{
  left: 19%;
  top: 25%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  height: 64%;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.placage_equipe{
  top: 90%;
    left: 200px;
    position: absolute;
    padding:1%;
    padding-right: 2%;
    padding-left: 2%;
  
    font-size: 185%;
    font-family:"Segoe UI",Arial,sans-serif;
    color : #333;
  
    background-color: rgba(255, 255, 255, 0.6);
  
    border-style:solid;
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_plis_equipe{
  left: 19%;
  top: 105%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.placage_recette{
  top: 162%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_plis_recette{
  left: 19%;
  top: 177%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.planche_equipe{
  top: 234%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_planche_equipe{
  left: 19%;
  top: 249%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.planche_recette{
  top: 306%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_planche_recette{
  left: 19%;
  top: 321%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.pile_equipe{
  top: 378%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_pile_equipe{
  left: 19%;
  top: 393%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}

/************************************************************************************************************************************************************/

.pile_recette{
  top: 450%;
  left: 200px;
  position: absolute;
  padding:1%;
  padding-right: 2%;
  padding-left: 2%;

  font-size: 185%;
  font-family:"Segoe UI",Arial,sans-serif;
  color : #333;

  background-color: rgba(255, 255, 255, 0.6);

  border-style:solid;
  border-width: 2px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 0 rgba(51, 51, 51, 0.7), 3px 5px 5px 0 rgba(51, 51, 51, 1);
}

.tableur_pile_recette{
  left: 19%;
  top: 465%;
  position: absolute;
  box-shadow: 3px 0px 5px 0 rgba(0, 0, 0, 0.5), 3px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  height: auto;
  width: 74%;
  margin-top: 0px;
  margin-left: 0px;
}